.highlights {
  padding: 40px;
}

.highlights > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.highlights > section > div {
  flex: 1;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  height: 350px;
}

.highlights > section > div > video {
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: 0.5s;
}

.highlights > section > div > video:hover {
  transform: scale(1.1);
}

.highlights > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.highlights > div > h1 {
  margin-bottom: 5px;
}

.highlights > div > h1 > span {
  color: #fd7304;
}

.highlights > p {
  margin-bottom: 40px;
  margin-top: 0;
  padding-top: 0;
  font-size: 15px;
  font-weight: 550;
}

.highlights > div > p {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-weight: 600;
  color: rgb(0, 108, 248);
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.highlights > div > p i {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 16px;
}

.highlights > section > div:hover > div {
  bottom: 0%;
  left: 0%;
}

.highlights > section > div > div {
  position: absolute;
  z-index: 2;
  bottom: -100%;
  left: -100%;
  padding: 20px 20px 10px 20px;
  color: white;
  background: rgba(161, 161, 161, 0.055);
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(252, 251, 251, 0.178);
  color: white;
  transition: 0.6s;
  border-radius: 0 50px 0 0;
}

.highlights > section > div > div > h1 {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.highlights > section > div > div > p {
  font-size: 13px;
}
