.Welcome_container {
  position: relative;
  min-height: 100vh;
  margin-top: 50px;
}

.Video_container {
  position: sticky;
  top: 50px;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: #f6f5fa;
}

.Video_container > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Welcome_content {
  position: relative;
  /* margin-top: 20px; */
  min-height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.Welcome_content > div {
  padding: 30px 50px;
  /* background-color: rgb(25, 0, 54); */
  background-color: white;
  /* color: white; */
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Welcome_content > :nth-child(1) {
  align-self: flex-start;
  border-radius: 0px 40px 40px 0px;
}

.Welcome_content > :nth-child(2) {
  align-self: flex-end;
  border-radius: 40px 0px 0px 40px;
}

.Welcome_content > div > h1 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 50px;
}

.Welcome_content > div > h1 > span {
  color: #fd7304;
}

.Welcome_content > div > p {
  font-weight: 550;
  width: 450px;
}

.goal-section {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
