.Contact {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  position: relative;
}

.contact_main {
  position: relative;
  background-color: #faf7ef;
    padding: 60px;
}

.contact_main > img {
  height: 200px;
  position: absolute;
  top: -15px;
  left: -50px;
  transform: rotate(40deg);
}

.Contact > div {
  flex: 1;
}

.Contact > div > h1 > span {
  color: #fd7304;
}

.contact_form {
  padding: 40px;
  border-radius: 30px;
  box-shadow: #efe7dd 0px 7px 29px 0px;
  background-color: white;
  border: 1px solid #f3ece5;
  position: relative;
}

.contact_form>img{
  position: absolute;
  top: 25%;
  left: -150px;
  height: 250px;
}

.contact_form > p {
  font-size: 15px;
  margin: 0;
  font-style: italic;
  color: #020092;
  font-weight: 500;
}

.contact_form > h1 {
  font-size: 24px;
  font-style: italic;
  color: #020092;
  margin-top: 5px;
}

.contact_form > form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact_form > form > :nth-child(5),
.contact_form > form > :nth-child(6) {
  grid-column: span 2;
}

.contact_form > form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact_form > form > div > label {
  font-weight: 550;
}

.contact_form > form > div > input {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #dbd9d9;
  border-radius: 5px;
}

.contact_form > form > div > textarea {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #dbd9d9;
  border-radius: 5px;
}

.contact_form > form > div > span {
  font-family: "Quicksand", sans-serif;
  color: red;
  font-size: 12px;
  font-weight: 550;
}

.contact_form .PhoneInput {
  padding: 2px 2px 2px 10px;
  font-family: "Quicksand", sans-serif;
  border: 1px solid #dbd9d9;
  border-radius: 5px;
}

.contact_form .PhoneInputInput {
  padding: 8px;
  border: none;
  outline: none;
  font-family: "Quicksand", sans-serif;
}

.contact_form > form > button {
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: 650;
  cursor: pointer;
  border: none;
  background-color: #fd7304;
  color: white;
  font-size: 15px;
  border-radius: 500px;
  border: 1px solid #ff7300;
}

.contact_content > h1 {
  margin: 0;
}

.contact_content > p {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 500;
}

.contact_content > li {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 10px;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 15px;
}

.contact_content > li > p {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Playfair Display SC", serif;
  font-size: 17px;
  font-weight: 550;
  margin-bottom: 5px;
}

.contact_content > li > p > i {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020092;
  color: #ffffff;
  border-radius: 50%;
  font-size: 20px;
}

.contact_content > li > span {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-left: 50px;
}
